{% load static %}

{% load static %}


<!doctype html>
<html lang="en">

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="{% static 'css/login.css' %}">
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Mansalva&family=Caveat&family=La+Belle+Aurore&family=Sarina&amily=Chewy&family=Nanum+Pen+Script&family=Oooh+Baby&family=Sacramento&display=swap" rel="stylesheet">
   <title>Reset Password</title>
   <link rel="icon" href="{% static 'img/icons8-lock-48.png' %}">

   <style media="screen">

      body{
         background-color: white;
      }

      small{
         color: red;
         font-size: 1.3em;
      }

      h2 {
         color: black;
         font-weight: 700;
      }

      @media(min-width: 1080px){
         input{
            max-width: 70% !important;
         }
      }

      p {
         font-size: 1.7em;
         margin-bottom: 15px;
      }

      #after {
         width: 80vw !important;
         margin: 0 auto 0 auto;
      }

   </style>
</head>

<body style="height: 100vh;">

   <div class="wrapper fadeInDown">
      <div id="formContent">
         <!-- Tabs Titles -->

         <!-- Icon -->
         <div class="fadeIn first">
            <img src="{{ image11.image.url }}"  class="img-fluid mt-3" id="icon" alt="User Icon" />
         </div>

         <!-- Login Form -->
         <form class="p-5" id="forgot-password" method="POST" action="">
            {% csrf_token %}
            <input type="text" id="username" class="fadeIn third" placeholder="Enter Username">
            <br><small id='usrnme'></small><br>
            <button id="submit" type="submit" class="fadeIn fourth mt-3 px-4 btn btn-info btn-lg" style="" type="submit">Send OTP</button>
         </form>

      </div>
   </div>

   <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

   <script type="text/javascript">
      $(document).ready(function(){
         $('#forgot-password').trigger('reset');

         $('#forgot-password').keypress(function(event){
            var keyPressed = event.keyCode || event.which;
            if (keyPressed === 13) {
               event.preventDefault();
               return false;
            }
         });

         $('#username').focus(function(event){
            $('#usrnme').text('');
         });

         $('#submit').click(function(event){
            event.preventDefault();
            username = false

            var username = $('#username').val();
            console.log('username :', username);

            if(username.length == 0 || username == undefined){
               $('#usrnme').text('Please enter username.');
            }

            else {
               console.log('username'+ $('#username').val());

               $.ajax({
                  type: 'POST',
                  url: "{% url 'forgot_password' %}",
                  data: {
                     username: $('#username').val(),
                     action: 'validate-user',
                     csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                  },

                  success: function(response){

                     if(response == 'invalid'){
                        $('#usrnme').text('Invalid username.')
                     }

                     else {
                        $('#submit').attr('disabled', true);
                        console.log('disabled');

                        $.ajax({
                           type: 'POST',
                           url: "{% url 'forgot_password' %}",
                           data: {
                              email: response,
                              action: 'send-otp',
                              csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                           },

                           success: function(response){

                              var $otp_section = $(`
                                 <p>Password reset OTP has been sent to your registered mail.</p><br>
                                 <input type="text" id="otp" class="fadeIn third" placeholder="Enter OTP">
                                 <br><small class="text-danger" id='otp-message'></small>
                              `);

                              $("#submit").after($otp_section);
                              console.log('enabled');
                              $(this).removeAttr('disabled');
                              $("#submit").hide();

                              var entered_otp;

                              $('#otp').change(function(){
                                 entered_otp = $('#otp').val();
                                 if(entered_otp.length == 0){
                                    $('#otp-message').text('Please enter OTP');
                                 }

                                 else if(entered_otp != response){
                                    $('#otp-message').text('Entered OTP is invalid')
                                 }

                                 else if(entered_otp == response) {
                                    var $reset_password = $(`
                                    <form class="p-5" id="reset-password" method="POST">
                                       {% csrf_token %}
                                       <input type="text" id="password" class="fadeIn third" placeholder="Enter new Password"><br>
                                       <small id='pswd'></small>
                                       <input type="text" id="confirm-password" class="fadeIn third" placeholder="Re-enter new Password"><br>
                                       <small id='cnf-pswd'></small>
                                       <button id='reset-pwd-button' type="submit" class="fadeIn fourth mt-4 px-4 btn btn-info btn-lg">Change Password</button>
                                    </form>
                                    `);

                                    $('#forgot-password').replaceWith($reset_password);
                                    all_visited = [];
                                    is_valid = false

                                    $('#password').bind('focus blur', function(event){
                                       all_visited.push(true);

                                       if (event.type == 'focus') {
                                          console.log('password in focus')
                                          $('#pswd').removeClass('text-info text-danger text-success');
                                          $('#pswd').text('');
                                       }

                                       else if (event.type == 'blur'){
                                          var password = $(this).val();

                                          if (password.length == 0) {
                                             $('#pswd').text('Password cannot be empty');
                                          }

                                          else if(password.length < 8){
                                             $('#pswd').text('Password too short, enter atleast 8 characters');

                                          }
                                          else {

                                             console.log('password changing');
                                             alphabets = /[a-zA-Z]+/;
                                             numbers = /[0-9]+/;
                                             specials = /[^a-zA-Z0-9]+/;

                                             has_alphabets = alphabets.test(password);
                                             has_numbers = numbers.test(password);
                                             has_specials = specials.test(password);

                                             console.log(has_alphabets, has_numbers, has_specials);

                                             if (has_alphabets || has_numbers || has_specials) {
                                                $('#pswd').addClass('text-danger');
                                                $('#pswd').text('Password strength: Weak');
                                             }

                                             if (has_alphabets && has_numbers || has_alphabets && has_specials || has_specials && has_numbers) {
                                                $('#pswd').removeClass('text-danger');
                                                $('#pswd').addClass('text-warning');
                                                $('#pswd').text('Password strength: Good');
                                             }

                                             if (has_alphabets && has_numbers && has_specials) {
                                                $('#pswd').removeClass('text-danger text-warning');
                                                $('#pswd').addClass('text-success');
                                                $('#pswd').text('Password strength: Strong');
                                             }

                                             $('#confirm-password').bind('focus blur', function(event){
                                                all_visited.push(true);

                                                if(event.type == 'focus'){
                                                   $('#cnf-pswd').text('');
                                                }

                                                else if(event.type == 'blur'){
                                                   var confirm_password = $(this).val();

                                                   if (confirm_password.length == 0){
                                                      $('#cnf-pswd').text('Please enter confirm password');
                                                   }

                                                   else if(password != confirm_password){
                                                      $('#cnf-pswd').text('Password does not match');
                                                   }

                                                   else{
                                                      is_valid = true;
                                                   }

                                                }
                                             });
                                          }
                                       }
                                    });

                                    $('#reset-password').submit(function(event){
                                       event.preventDefault();

                                       if(all_visited.length < 2){
                                          var $alert = $(
                                          `<div class="alert m-4 alert-danger text-left alert-dismissible fade show" role="alert">
                                             <p><strong>Unvisited Fields</strong><br>Please enter data in all fields!</p>
                                               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                 <span aria-hidden="true">&times;</span>
                                               </button>
                                          </div>`
                                          );

                                          $('#formContent').prepend($alert);
                                       }

                                       else if (is_valid) {
                                          $('#reset-pwd-button').attr('disabled', true);

                                          $.ajax({
                                             type: 'POST',
                                             url: "{% url 'forgot_password' %}",
                                             data:{
                                                password: $('#password').val(),
                                                username: username,
                                                action: 'reset-password',
                                                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                                             },

                                             success: function(response){
                                                $('#reset-pwd-button').removeAttr('disabled');

                                                var $reset_success = $(
                                                `
                                                <div id='after' class="container-fluid">
                                                   <div class="row text-center">
                                                      <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                                                         <div class="card">
                                                            <div class="card-body cart" style="box-shadow: rgba(22, 142, 176, 0.85) 0px 10px 35px 5px;">
                                                               <div class="col-sm-12 empty-cart-cls text-center"> <img src="{{ image12.image.url }}" width="500" height="300" class="img-fluid mb-4 mr-3">
                                                                  <h3 style="font-size: 2.7em;"><strong>Password Reset Successful!</strong></h3>
                                                                  <p>You will be redirected to login page shortly.</p>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                  </div>
                                                `
                                                );

                                                $('#formContent').replaceWith($reset_success);

                                                setTimeout(function(){
                                                   window.location.replace("{% url 'login' %}");
                                                }, 10000);
                                             }
                                          });
                                       }
                                    });
                                 }
                              });
                           }
                        });
                     }
                  },

                  error: function(error){
                     alert('Some error occured while validating user: ' + error);
                  },

               });
            }
         });
      });
   </script>
</body>
</html>
